<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Kayak_for_You">
  <test name="Regression_Test">
    <classes>
      <class name="TestScripts.com_kayak_createNewAccount"/>
    </classes>
  </test> <!-- Regression_Test -->
</suite> <!-- Kayak_for_You -->
